n8n-workflows/restaurant-whatsapp-workflow.json
{
  "name": "Restaurant WhatsApp Concierge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "restaurant-whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "message-exists",
              "leftValue": "={{ $json.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-message",
      "name": "Check Message Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract WhatsApp message data\nconst entry = $input.first().json.entry?.[0];\nconst message = entry?.changes?.[0]?.value?.messages?.[0];\n\nif (!message) {\n  return [{ json: { error: 'No message found' } }];\n}\n\nconst messageText = message.text?.body || '';\nconst fromNumber = message.from;\nconst messageId = message.id;\nconst timestamp = message.timestamp;\n\n// Clean and prepare message for restaurant agent\nconst cleanMessage = messageText.toLowerCase().trim();\n\nreturn [{\n  json: {\n    message: messageText,\n    cleanMessage: cleanMessage,\n    fromNumber: fromNumber,\n    messageId: messageId,\n    timestamp: timestamp,\n    // Prepare data for restaurant agent API call\n    restaurantQuery: cleanMessage\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:3002/webhook/whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "entry",
              "value": "={{ [$input.first().json] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-restaurant-agent",
      "name": "Call Restaurant Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "no-message-response",
      "name": "No Message Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Check Message Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Exists": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Message Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Call Restaurant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Restaurant Agent": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-09T07:54:00.000Z",
  "versionId": "1"
}